*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.2px;
}
.flex{
    display: flex;
}
.spaced{
    justify-content: space-between;
}
.column{
    flex-direction: column;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    align-self: center;
}
.w-85{
    width: 85%;
    margin: 0 auto;
    padding: 0 5rem;
    text-align: center;
}
.separator{
    width: 18%;
    border: 1px solid #fed03d;
    margin: 0 auto;
}
.circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}