*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.2px;
}
.flex{
    display: flex;
}
.spaced{
    justify-content: space-between;
}
.around{
    justify-content: space-around;
    height: 50px;
    align-items: center;
}
.column{
    flex-direction: column;
}
.m-0{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    align-self: center;
}
.w-85{
    width: 85%;
    margin: 0 auto;
    padding: 0 5rem;
    text-align: center;
}
.w-50{
    width: 50%;
    padding-top: 5rem;
}
.mt-0{
    margin-top: 1rem;
}
.mt-1{
    margin-top: 2rem;
}
.separator{
    width: 18%;
    border: 1px solid #fed03d;
    margin: 0 auto;
}
.circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
}
.bkbl{
    background-color: black;
}
.get-quote{
    background-color: #fed03d;
    border: 1px solid #fed03d;
    padding: 1rem;
    height: 45px;
    width: 160px;
    align-self: center;
    &:hover{
        background-color: black;
        color: white;
        transition: all 0.5s ease-in-out;
        border: transparent 1px solid;
    }
}
.w-4{
    width: calc(100% /4);
    margin: 3rem;
}