*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.flex{
    display: flex;
}
.spaced{
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
    align-self: center;
}